rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if request.auth != null;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to upload and read profile images
    match /profile_images/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to upload and read general images
    match /images/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
